::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #fffcfc6d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffae00dc;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
  }